<%- include("../partials/header") -%>
<div class="container text-success text-center" style="margin-top: 10rem;margin-bottom: 10rem;">
    Successfully Applied
    <a href="/work"  class="btn btn-danger">Back</a>
</div>
<%- include("../partials/footer") -%>
