<%- include("../partials/header") -%>
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center delivery_bg_1 overlay">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-9 col-md-9 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Work as a food delivery agent</h3>
                                <a href="/work" class="boxed-btn3">Join Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center delivery_bg_2 overlay">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-9 col-md-9 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Join the rest to become a delivery agent</h3>
                                <a href="/work" class="boxed-btn3">Join Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center delivery_bg_3 overlay">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-9 col-md-9 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Earn while you deliver foods</h3>
                                <a href="/menu" class="boxed-btn3">Join Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <div class="container">
        <div class="row"></div>

    </div>
    <div class="container mt-5">
        <div class="card" style="width:100% ;height: 50rem;">
            <img class="card-img-top img-responsive" style="height:30% ;" src="/img/delivery/01.png" alt="Card image">
            <div class="card-img-overlay">
              <h2 class="card-title">Work with us</h2>
              <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="card">
            <h2 class="card-header">Fund your wallet</h2>
            <div class="card-body">
              <h5 class="card-title">Fund and Spend</h5>
              <p class="card-text">Make orders using your wallet</p>
              <a href="#" class="btn btn-success">Fund Now</a>
            </div>
    </div>

    </div><div class="container mt-5 mb-5">
        <div class="card">
            <h2 class="card-header">Make Orders</h2>
            <div class="card-body">
              <h5 class="card-title">Order our food</h5>
              <p class="card-text">Make orders using your wallet <span class="text-success"><i class="fa fa-google-wallet"></i></span>, bank transfer <span class="text-success"><i class="fa fa-dollar"></i></span> or <span class="text-success"><i class="fa fa-whatsapp"></i></span> WhatsApp us</p>
              <a href="#" class="btn btn-success">Order Now</a>
            </div>
        </div>
    </div>

<%- include("../partials/footer") -%>
