<%- include("../partials/header") -%>
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center delivery_bg_1 overlay">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-9 col-md-9 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Work as a food delivery agent</h3>
                                <a href="/work" class="boxed-btn3">Join Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center delivery_bg_2 overlay">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-9 col-md-9 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Join the rest to become a delivery agent</h3>
                                <a href="/work" class="boxed-btn3">Join Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center delivery_bg_3 overlay">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-9 col-md-9 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Earn while you deliver foods</h3>
                                <a href="/menu" class="boxed-btn3">Join Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->


    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Work as a service delivery Agesn</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->


    <h1>DASHBOARD</h1>
    <h1>DASHBOARD</h1>
    <h1>DASHBOARD</h1>
    <h1>DASHBOARD</h1>
    <h1>DASHBOARD</h1>
    <h1>DASHBOARD</h1>
    <h1>DASHBOARD</h1>
    <h1>DASHBOARD</h1>
    <h1>DASHBOARD</h1>

</div>



<%- include("../partials/footer") -%>
