<%- include("../partials/adminHeader.ejs") -%>
<h1>Welcome to admin dashboard</h1>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item"><a href="/admin/job">Job Seekers >></a></li>
        <li class="list-group-item"><a href="/admin/post">Post Food >></a></li>
        <li class="list-group-item"><a href="/admin/orders">Orders Made >></a></li>
        <li class="list-group-item"><a href="/admin/table">Tables Booked >></a></li>
    </ul>
</div>


